#wrapper {
    margin-left:auto;
    margin-right:auto;
    width:100%;
    height: auto;
    background-color: transparent;
    scroll-behavior: smooth;
    font-family: 'Quattrocento Sans', Candara,Calibri,Segoe,Segoe UI,Optima,Arial,sans-serif; 
}
.about {
    height: 100vh;
    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: scroll;
}
.about_title {
    font-size: 4rem;
    text-align: center;
}
.about_desc {
    font-size: 1.5rem;
    text-align: center;
}
.about-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
}
.row-img {
    display: flex;
}
.column {
    flex: 1;
    padding: 5px;
}
.summary-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
}
.summary_title {
    font-size: 2rem;
    text-align: center;
}
.summary {
    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: scroll;
}
#summary a{
    color: maroon !important;
    text-decoration: none;
}
.experience {
    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.education {
    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: scroll;
}
.projects {
    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: scroll;
}
#projects a{
    color: maroon !important;
    text-decoration: none;
}
.skills {
    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: scroll;
}
.honors {
    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: scroll;
}
.teaching {
    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: scroll;
}
.footer {
    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: scroll;
}
.floating { 
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 5px;
}
 
@keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 15px); }
    100%   { transform: translate(0, -0px); }
    to {
        background-position: 200% center;
      }   
}
.character-gradient
{
    text-transform: uppercase;
    background-image: linear-gradient(
        -225deg,
        #231557 0%,
        #44107a 29%,
        #ff1361 67%,
        #fff800 100%
    );
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: floating 2s linear infinite;
}
.heading h2 {
    font-size:30px;
    text-align:center; 
    line-height:1.5em; 
    padding-bottom:45px; 
    font-family:"Playfair Display", serif; 
    text-transform:uppercase;
    letter-spacing: 2px; 
    color:#111;
  }
.heading h2:before {
    position: absolute;
    left: 0;
    bottom: 20px;
    width: 60%;
    left:50%; margin-left:-30%;
    height: 1px;
    content: "";
    background-color: #777; z-index: 4;
  }
.heading h2:after {
    position:absolute;
    width:40px; 
    height:40px; 
    left:50%; 
    margin-left:-20px; 
    bottom:0px;
    content: '\00a7';
    font-size:30px; 
    line-height:40px; 
    color:maroon;
    font-weight:400; z-index: 5;
    display:block;
    background-color:white;
  }
  